[Desktop Entry]
Name=SDR Receiver
Exec=python /home/pi/.config/openplotter/tools/SDR_AIS/SDR_AIS.py
Icon=gqrx
StartupNotify=true
Categories=OpenPlotter
Terminal=false
Type=Application
Version=1.0
